@page "/api/grapgql"
@inject HttpClient Http

<button class="btn btn-primary" onclick=@(GetBlogPosts())>Get Blog Posts</button>

@functions {
    private async Task GetBlogPosts()
    {
        var response = await Http.GetStringAsync("/api/graphql");
        Console.WriteLine(response);
    }
}